input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Poppins:wght@600&family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
}

.login_page {
    height: 100vh;
    background-image: linear-gradient(to right, #ae9ae9, #f3e7ea);
    display: flex;
    align-items: center;
    justify-content: center;
}

.h1 {
    margin-bottom: 10px;
    -webkit-user-select: none;
}

form {
    display: flex;
    flex-direction: column;
    background-color: white;
    /* align-items: center; */
    padding: 25px;
}

.bg_white {
    display: flex;
    overflow: hidden;
    flex-direction: row;
    background-color: white;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 0px 0px 9px rgb(228, 225, 225);

}

.signup_form {
    border-left: 2px solid rgba(181, 181, 181, 0.594);
    margin-left: 50px;
    padding-left: 50px;
}

input {
    padding: 10px;
    border-radius: 5px;
    margin-top: 5px;
    border: 1px solid rgb(208, 207, 207);
    padding-right: 100px;
}

.login_button {
    font-weight: 500;
    margin-top: 15px;
    padding: 10px;
}

.login_button:hover {
    cursor: pointer;
    background-color: rgb(228, 228, 228);
}